<!--
  Есть сайт JSON Placeholder
  нажимаем на Guide

  Компоненты для Angular - material angular

  Создадим приложение Список пользователей

  При нажатии на пользователя получаем:
  /posts/1/comments - комментарии
  /albums/1/photos - фото
  /users/1/albums - альбомы
  /users/1/todos - дела
  /users/1/posts - посты

  1. При нажатии на пользователя получаем
  информацию о нём.
  2. При нажатии на кнопку получаем посты
  пользователя.
-->

<!--
   Пункт 1 
   В app.component.html сделаем div
-->
<div class="users-list-container">
  <!-- юзеры -->
  <!-- 
    Выводим компонентов столько сколько пользователей

    Директива *ngFor позволяет создать компонентов
    столько сколько пользователей
  -->
  <!--
    Выводим пользователей
    В компонент app-user-item мы должны передать user (***)

    Мы говорим что компонента app-user-item примет user (***)
    который будет ровняться объекту user (**)

    Т.е мы берем user (***) и сязываем его с user (**), котырый
    будет ждать внутри компонента app-user-item

    user (****) - поле, которое создали в app.component.ts

    Пункт 12
    В файле user-item.component.ts
  -->

  <!--                                           (**)    (***)             (***)   (****)     -->
  <app-user-item (click)="getUserById(user.id)" [user] = "user" *ngFor="let user of users"></app-user-item>

  <!-- Пункт 17 
       Создадим кнопку, при нажатии которой
       выводится информация о пользователе
       (click)="getUserById(user.id)"
  -->
</div>

<div>
  <!-- информация о юзере -->

  <!--
    Пункт 15
    selectedUser - поле, которое создали в app.component.ts

    мы берем selectedUser (***) и сязываем его с user (**), котырый
    будет ждать внутри компонента app-user-info

    Пункт 16
    В файле user-info.component.ts
  -->
  <!--                                 (**)       (***)                  -->
  <app-user-info *ngIf="selectedUser" [user]="selectedUser"></app-user-info>
  <!--Пункт 17.1
      Компонент покажется
      когда *ngIf="selectedUser"
  -->

</div>
<div>
  <!-- посты юзера -->
</div>

<!--
   Пункт 2
   В папке app создадим папку user
   В папке app создадим папку shared
   В папке shared создадим
   папку service и папку model
-->

<!--
   Пункт 3
   Нужно получить пользователей
   Для того, чтобы получить пользователей
   нужно сдерать запрос

   в JSON Placeholder копируем:
   https://jsonplaceholder.typicode.com
-->

<!--
  Пункт 4
  Создадим сервис в папке service
  В командной строке набираем
  d:\Angular\Users\users-app\src\app\shared\service>ng g s user
-->

<!--
  Пункт 5
  Для того, чтобы получить запрос нужно
  получить HttpClientModule

  1. В поисковик вбиваем input HttpClientModule
  2. копируем: import { HttpClientModule } from '@angular/common/http';
     
  Заходим в app.module.ts и вставляем 
  import { HttpClientModule } from '@angular/common/http';
  В import пишем HttpClientModule
-->

<!--
  Пункт 6
  В user.service.ts в конструкторе мы должны
  получить HttpClientModule
-->

<!--
  Пункт 7
  В user.service.ts создадим метод getUsers(),
  который позволит получать пользователей

  Метод будет возвращать httpClient

  Метод будет возвращать Observable тип <any>

  метод get позволяет что-то получить
  В () мы должны указать запрос

  Пункт 7.1

  В JSON Placeholder копируем любой запрос

  https://jsonplaceholder.typicode.com/posts/1/comments

  и мы должны вставить его в () но каждый раз
  писать его мы не хотим.
  Поэтому мы можем вынести в некую константу и
  дальше в зависимости от того что нам надо
  будем добавлять.

  const URL_PREFIX = 'https://jsonplaceholder.typicode.com';
-->

<!--
  Пункт 8
  Попытаемся тестово получить
  пользователей
  В app.component.ts
-->

<!--
  Пункт 9
  В user.service.ts
  Давйте представим что сервис будет возвращать
  не httpClient а массив объектов users
-->

<!--
  Пункт 10
  Создадам модель т.е. сделаем интерфейс
  Интерфейс описывает с какими полями должен быть объект
  В папке model создадим файл user.model.ts

  Переходим в файл user.model.ts
-->

<!--
  Пункт 10
  Нужно отобразит IUser
  Для того, чтобы отобразит IUser нужно
  создать компонент
  В папке user создадим компонент user-item
-->
<!--
  Пункт 11
  В файле user-item.component.html
  где мы создали div class="users-list-container"
  выводим пользователей
-->

<!--
  Пункт 13
  При нажатии на пользователя делаем на него
  запрос
  Для того, что бы сделаем на ползователя запрос
  нужно:

  Пункт 13.1
  В файле user.service создать сервис getUserById()
-->

<!--
  Пункт 14
  В папке user создадим компонент user-info
-->

<!--
  Пункт 15
  В файле user-item.component.html
  где мы создали div class="users-list-container"
  выводим информацию о пользователе
-->



<!--
  Пункт 18
  В app-user-info создадим компонент app-user-posts
  и кнопку, которая при нажатии выводит посты
-->

<!--
  Для того, что получить посты нужно:

  Пункт 18.1
  В файле user.service создать сервис getUserPosts()
-->



<!--
  Пункт 19
  В app-user-post создадим компонент app-user-post-comment
  и кнопку, которая при нажатии выводит комменты
-->

<!--
  Для того, что получить посты нужно:
  
  Пункт 19.1
  В файле user.service создать сервис getCommentsByPostId()
-->


<!--
  Пункт 20
  В файле user-info.component
  создать кнопки Get Todos, Get Albums
-->

